body {
  background-image: linear-gradient(
    to bottom,
    rgb(223, 175, 175),
    rgba(255, 208, 0, 0.938)
  );
}

.box1 {
  height: auto;
  width: 400px;
  padding: 10px;
  margin: 20px;
  border: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.n1 {
  font-style: italic;
  font-size: 30px;
}
.p {
  color: green;
  font-size: 30px;
  line-height: 0px;
  font-weight: bold;
}
.sp {
  color: gray;
  font-size: 15px;
  font-weight: lighter;
}
.c {
  height: 50px;
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(204, 0, 0);
  font-size: large;
  font-weight: bold;
  color: aliceblue;
  outline-color: green;
  outline-style: solid;
  outline-offset: 1px;
  outline-width: 1px;
}
#name1 {
  color: rgb(0, 0, 0);
  margin-left: 10px;
}
#text1 {
  font-style: italic;
  color: black;
  font-weight: bold;
  font-size: larger;
}
